/* immagini */
img {
width: 100%;
 
}


img:not(.attiva) {
    display: none;
}

/* container immagini */
.slider {
    width: 30%;
    max-width: 800px;
    margin: auto;
    position: relative;
   





    /* bottoni */
    .controlli {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 45%;
        width: 100%;
    }
}

button {
    background-color: black;
    color: white;
    height: 35px;

}